* {
    padding: 0px;
    margin: 0px;
}

.recipe-carousel {
    height: 200px;
    width: 200px;
    border: 1px solid red;
}

.recipe-carousel-images{
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
   
     border: 1px solid green;
}