.navbar-container {
    position: fixed;
    background-color: white;
    margin: 0;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-ul {
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-search {
    width: 30%;
}

.navbar-search-input {
    width: 100%;
}

.navbar-title-and-feed {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.navbar-create-and-auth {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.navbar-title {
    font-weight: 900;
}