/* Recipe utilities for styling of buttons and containers */

/* Button Styling */
.button_style
{
    display: inline-block;
    border-style: none;
    border-radius: 2px;
    padding: 10px;
    margin: 0;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    min-width: 75px;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
}

.add_button_container
{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-top: 15px;
}

.add_button
{
    background: black;
    color: white;
    border: solid 1px #000;
}

.add_button:hover
{
  background-color: rgb(255, 255, 255);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  color: #000;
}

.cancel_button
{
    background-color: rgb(244, 244, 244);
    border: rgb(172, 172, 172) solid 1px;
}

.cancel_button:hover
{
    background-color: rgb(224, 224, 224);
    border: #000 solid 1px;
}

.save_button
{
    background-color: #81EAAB;
    color: #fff;
}

.save_button:hover
{
    background-color: #3ae67f;
}

.edit_items_buttons
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.edit_items_buttons button
{
    margin: 10px 10px 0px 0px;
}

.edit_items_buttons i
{
    margin-right: 5px;
}

.delete_item
{
    cursor: pointer;
    color: rgb(255, 0, 0, 0.6);
    padding: 3px;
}

.delete_item:hover
{
    color: rgb(255, 0, 0);
}

/* Container Styling */
.card_container
{
    padding: 40px;
    height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.item_container
{
    display: flex;
    justify-content: space-between;
    padding: 4px;
    font-size: 18px;
    border-left: 2px solid rgb(255, 145, 145);
    margin-top: 10px;
    margin-bottom: 10px;
}

.card_inner_container
{
    width: 100%;
}

.card_form
{
    display: flex;
    width: 100%;
}

/* Header Styling */
.card_header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.card_header i
{
    cursor: pointer;
    color: rgb(121, 121, 121);
}

.card_header i:hover
{
    color: rgb(0, 0, 0);
}

/* Input elements */
.card_form input
{
    font-size: 16px;
    width: 90%;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(135, 135, 135);
    padding: 5px;
    color: rgb(135, 135, 135);
}

.card_form input:focus
{
    color: #000;
    border-bottom: 1px solid #000;
    transition: 0.3s;
}
