.directions_item i {
    font-size: 14px;
}

.directions_item
{
    font-size: 16px;
    display: flex;
    padding: 3px;

}

.steps_item
{
    /* border-bottom: 2px solid rgb(255, 145, 145); */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    /* max-width: fit-content; */
}

.directions_step
{
    margin-bottom: 10px;
}

.directions_step h3
{
    margin-bottom: 5px;
}

.directions_step div
{
    margin-left: 10px;
}
