.add-recipe-base-button{
  padding: 8px 12px 8px 12px;
  background-color: rgb(255, 255, 255);
  border-style: none;
  border-radius: 2px;
  border-radius: 4px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: bold;
  min-width: 10px;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border: 1px solid rgb(245, 245, 245);
  display: flex;
  justify-content: center;
}

.add-recipe-base-icon{
  padding-top: 1.5px;
  margin-right: 5px;

}

.add-recipe-base-button:hover{
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.22); */
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(243, 243, 243);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.create-recipe-base-wrapper{
  /* padding: 1px; */
  padding-bottom: 15px;
}
