.footer_container {
  margin-top: auto;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_container p,
.footer_container i
{
  margin: 0px 5px 0px 5px;
  color: #b8b8b8;
}

.footer_container i {
  font-size: 25px;
}

.footer_container p {
  font-size: 12px;
}

.footer_container i:hover {
  color: #fff;
}