*{
    padding: 0px;
    margin: 0px;
}

.test-container{
    /* border: 1px solid red; */
    margin-top: 30px;
    border-radius: 4px;
    /* box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.247); */
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
}

.profile-image-div{
    border-radius: 50%;
    overflow: hidden;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    margin-bottom: 15px;



}

.profile-list-item{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    /* border: 1px solid green; */
    width: 100%;
    text-align: end;

}

.profile-image{
  /* height: 100%; */
  display: inline-block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  background-color: rgb(216, 243, 252);
}

.user-side-bar-container{
    width: 100%;
    /* border: 1px solid red; */
}

.outer-div{
    width: 70%;
}

.profile_container input.errors_input
{
    border: solid 1px red;
}

.errors_input
{
    border: solid 1px red;
}

.profile__edit-btn {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.profile__edit-btn i {
    color: #a5a5a5;
}

.profile__edit-btn i:hover {
    color: #000;
    cursor: pointer;
}