
.scc__carousel{
  width: 80%;
  margin: auto;
  min-height: 12vh;
  padding-top: 10px;
}

/* carousel component wraps over other */
/* .carousel-wrapper{
  padding-top: 10px;
  width: 100%;
  height: 10vh;
} */

/* carousel components that wraps */
.react-multi-carousel-track {
  top: 0px;
}

.category-background-container{
  /* background-image: url(); */
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid rgb(201, 201, 201);
  border-right: 1px solid rgb(201, 201, 201);
  /* width: 20%; */
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: purple; */
}
    .cbc__cover{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      /* z-index: 2; */
    }



    /* .react-multi-carousel-item{
    } */
    .category-item{
      width: 100%;
      height: 100%;
      text-align: center;
      color: white;
      font-weight: bold;
      /* z-index: 2; */
      position: relative;
      padding-top: 25px;

    }

    .test{
      position: absolute;
      width: 100%;
      height: 100px;
      top: 0;
      opacity: 0.5;
      background-color: rgba(0, 0, 0, 0.925);
      /* z-index: 1; */
    }
    .test--selected{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      /* background-color: rgba(255, 255, 255, 0.5); */
      /* z-index: 2; */
    }



.banner-container{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  .bc__header, .bc__description{
    width: 50%;
    margin: auto;
    text-align: center;
  }
  .bc__header{
    font-size: 40px;
    padding-bottom: 10px;
    padding-top: 25px;
  }

  .bc__description{
    padding-bottom: 40px;
    min-height: 9vh;
  }

.explore-infinite-container{
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}

  .explore-infinite-button{
    margin: auto;
    width: 180px;
    padding: 6px 10px 6px 10px;
    border-style: none;
    border-radius: 4px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
    font-weight: bold;
    min-width: 50px;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 15px;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(243, 243, 243);
  }

  .explore-infinite-button:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
