/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
}

ul {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

body {
    padding-top: 50px;
    /* min-height: 100vh; */
}

input:focus-visible {
    outline: 2px solid black;
}

.container-app{
    min-height: 90vh;
}


/* general error handling */
.error-group-container{
    /* will be different depending on situation, just add --mutation */
    min-height: 50px;
    padding-top: 10px;
}
.error-group{
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* align-items: center; */
    padding: 0;
}

.error-text{
    margin: 2px 0;
    font-size: 12px;
    color: #CD5D7D;
}

/*---- custom scroll bar ----*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-button {
    /* width: 6px;
    height:4px; */
}
::-webkit-scrollbar-track {
    background:rgb(224, 224, 224);
    /* border: thin solid lightgray; */
    /* border-radius:5px; */
}
::-webkit-scrollbar-thumb {
    background:#b4b4b4;
    border: thin solid #cfcfcf;
    border-radius:5px;
}
::-webkit-scrollbar-thumb:hover {
    background:#7d7d7d;
}
