/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
}

ul {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
