/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
}

ul {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

body {
    padding-top: 50px;
    /* min-height: 100vh; */
}

input:focus-visible {
    outline: 2px solid black;
}

.container-app{
    min-height: 90vh;
}
