.fpw-feed-container{
  /* display: flex; */
  /* width: 90%; */
  /* margin: auto; */

}

.fpw-feed-container__recipe-cards{
  /* flex: 50%; */
  display: flex;
  padding: 10px;
  margin-left: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* min-width: 100%; */
}

.users-recipes-cards{

}
