.fpw-feed-container{
  /* display: flex; */
  /* width: 90%; */
  /* margin: auto; */

}

.fpw-feed-container__recipe-cards{
  /* flex: 50%; */
  display: flex;
  padding: 10px;

  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  align-items: flex-start;
}

.fpw-feed-container__recipe-cards::after{
  content: "  ";
  flex: 500;
}
