.navbar-container-hotpotato {
    position: fixed;
    background-color: white;
    margin: 0;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 1001;
    display: flex;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-ul {
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 30px;
    padding-right: 30px; */
}

.navbar-search {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: auto;
    padding-right: 5%;
}

.navbar-search__input-wrapper{
    width: 40%;
    position: relative;
    display: flex;

}

.navbar-search-input {
    width: 100%;
    height: 20px;
    padding: 12px;
    padding-right: 30px;
}



.navbar-icon-search{
    height: 100%;
    position: absolute;
    right: 10px;
    margin: auto;

}


.navbar-icon-search--icon{
    padding-top: 7px;
    color: rgb(172, 172, 172);

}

.navbar-title-and-feed {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.navbar-create-and-auth {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-title {
    font-size: 25px;
    font-weight: 900;
    color: black;
    margin: 20px;
}

.navbar-title:hover {
    border-bottom: 1px solid black;
    color: black;
}


.create-recipe-base-wrapper {
    display: flex;
    align-items: center;
}

.button-fix.navbar-li {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar-button-create {
    max-width: 10px;
    max-height: 10px;
    padding-bottom: 10px;
}

.logout-btn.navbar-li {
    display: flex;
    align-items: center;
}

button#demo-login-btn {
    display: inline-block;
    border-style: none;
    border-radius: 2px;
    padding: 10px;
    margin: 0;
    margin-right: 20px;
    text-decoration: none;
    background: black;
    color: white;
    font-size: 12px;
    font-weight: 900;
    min-width: 75px;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);

}

button#demo-login-btn:hover {
    background: white;
    color: black;
}

.navbar-btn {
    font-weight: 900;
    color: black;
    margin: 20px;
}

.navbar-btn:hover {
    border-bottom: 1px solid black;
    color: black;
}

.navbar-btn-container {
    display: flex;
    align-items: center;
}

.navbar-btn-signed-out {
    margin: 20px;
}

#navbar-login-btn {
    margin-right: 0;
}



/* ---avatar and logout button--- */

.profile-avatar {
    /* width: 100px; */
    /* height: 50px;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 5; */
    /* background-image: url("https://hotpotatorecipes.s3.us-west-1.amazonaws.com/chef.png"); */
    /* background-color: red; */
    position: relative;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 20px;
    z-index: 1;
}

.profile-avatar__image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-avatar__image:hover{
    background-color: rgb(236, 236, 236);
}

.profile-avatar__content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}


.logout-style-button {
    /* display: inline-block; */
    border-style: none;
    border-radius: 3px;
    padding: 9px;
    /* margin-left: 20px; */
    text-decoration: none;
    background: black;
    color: white;
    font-size: 12px;
    font-weight: 900;
    min-width: 75px;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* display: none; */
    /* z-index: 100000; */
    /* position: absolute; */
    margin-right: 6px;
}

.logout-style-button:hover {
    background: white;
    color: black;
}



/* responsive queries*/
@media only screen and (max-width: 1000px) {
    .navbar-btn{
        display: none;
    }
    .navbar-title{
        font-size: 15px;
    }

}

@media only screen and (max-width: 600px) {
    .navbar-btn{
        /* display: none; */
        visibility: hidden;
    }
    .navbar-search__input-wrapper{
        /* display: none; */
        visibility: hidden;
    }

    .navbar-search{
        visibility: hidden;
    }


    .add-recipe-base-text{
        visibility: hidden;
        display: none;
    }


}
