.navbar-container {
    position: fixed;
    background-color: white;
    margin: 0;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-ul {
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-search {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar-search__input-wrapper{
    width: 60%;
    position: relative;
    display: flex;
}

.navbar-search-input {
    width: 100%;
    padding: 5px;
    padding-right: 30px;
}



.navbar-icon-search{
    min-height: 100%;
    position: absolute;
    right: 10px;
}


.navbar-icon-search--icon{
    padding-top: 7px;
    color: rgb(172, 172, 172);

}

.navbar-title-and-feed {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.navbar-create-and-auth {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    font-weight: 900;
}

.navbar-button-create{
    max-width: 10px;
    max-height: 10px;
    padding-bottom: 10px;
}
