.logout-style-button{
  padding: 6px 10px 6px 10px;

  border-style: none;
  border-radius: 4px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
  font-weight: bold;
  min-width: 50px;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-bottom: 15px;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(243, 243, 243);


}


.logout-style-button:hover{
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
