.page-cover-container{
  background-color: #f9f9f9;
  min-height: 100vh;
}

.sidebar-and-recipes-container{
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: flex-end;
}

.users-recipes-container{
  /* width: 80%; */
  /* margin: auto; */
}

.user-side-bar-container{
  /* flex: 50%; */
  min-width: 500px;
}


.users-recipes-cards{
  flex: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  /* width: 85%; */
  margin: auto;

  justify-content: flex-end;
  /* align-content: flex-start;
  align-items: flex-start; */

  /* flex: 2 1 0px; */

}
