/* frontend/src/context/Modal.css */
#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002;

}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.801);
}

#modal-content {
  position: absolute;
  background-color:white;
  border-radius: 7px;
  height: auto;
  max-height: 90vh;
  width: 500px;
  max-width: 80vw;
  padding: 1.5em;
  overflow: auto;
}

/* #modal-content-verify{
  width: 300px;
} */

.modal-verify{
  border-radius: 5px;
  font-weight: bold;
}

/* Buttons modal */
.display-buttons{
  display: flex;
  width: 60%;
  margin: auto;

}

.button-style-exit, .button-style-stay{
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border-style: none;
  border-radius: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 80px;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.button-style-exit{
  background-color: rgb(255, 123, 123);
}

.button-style-exit:hover, .button-style-stay:hover{
  box-shadow: 0 4px 8px rgba(0,0,0,0.22);
  cursor: pointer;
}

.button-style-stay{
  background-color: rgb(148, 243, 191);
}

.button-style-exit:hover, .button-style-stay:hover{
    background: white;
    color: black;
}
