/* frontend/src/context/Modal.css */
#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.801);

}

#modal-content {
  position: absolute;
  background-color:white;
  border-radius: 7px;
  height: auto;
  width: 600px;
  padding: 1.5em;
}

.modal-verify{
  border-radius: 5px;
  font-weight: bold;
}

/* Buttons modal */
.display-buttons{
  display: flex;

}

.button-style-exit, .button-style-stay{
  padding: 10px;
  background-color: black;
  border-style: none;
  border-radius: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 70px;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.button-style-exit:hover, .button-style-stay:hover{
  box-shadow: 0 4px 8px rgba(0,0,0,0.22);
  cursor: pointer;
}

.button-style-stay{
  background-color: black;
}

.button-style-exit:hover, .button-style-stay:hover{
    background: white;
    color: black;
}