.measurements_container
{
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 0 10px 0 20px;
}

.ingredients_container
{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 0px 0 10px;
}

.card_form h3
{
    margin-bottom: 10px;
}

.ingredients_item, .measurements_item
{
    margin-bottom: 5px;
}