* {
    padding: 0px;
    margin: 0px;
}

.recipe-carousel {
    height: 200px;
    width: 200px;
}



.recipe-carousel{
    /* width: 100%; */
    height: 100%;
    display: block;
    box-sizing: border-box;
    /* border: 1px solid red; */


}

.recipe-carousel-images-edit {

    height: 100%;
    width: 100%;

}



.recipe-carousel-edit-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    /* border: 1px solid red; */
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=653&q=80);
}

.recipe-carousel-edit-form-input{
    width: 80%;
    height: 40px;
    border-style: dotted;
    padding-left: 15px;

}

.recipe-carousel-save-form-button{
    background-color: rgb(146, 228, 139);
    display: inline-block;
    border-style: none;
    border-radius: 2px;
    text-decoration: none;
    font-size:medium;
    font-weight: 900;
    cursor: pointer;
    width: 10em;
    height: 2em;
    color: white;
}


div.rec-item-wrapper > * {
  width: 100%;
  height: 100%;
}




.recipe-carousel-cancel{
    padding: 8px 12px 8px 12px;
    background-color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 2px;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 10px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
    min-width: 10px;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: 1px solid rgb(212, 212, 212);
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.rec-carousel-item {
    /* max-height: 100%; */
    /* border: 1px solid green; */
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* height: 500px; */
}

.right-arrow{
     cursor: pointer;
     font-size: large;
     position: absolute;
     right: 15px;
     color: white;
}

.right-arrow:hover {
    cursor: pointer;
    color: rgb(243, 243, 243);
}

.left-arrow{
     cursor: pointer;
     font-size: large;
     position: absolute;
     left: 15px;
     z-index: 2;
     color: white;
}

.left-arrow:hover {
    cursor: pointer;
    color: rgb(243, 243, 243);
}

.carousel-button{
    background: none;
    border: none;
}

.rec-pagination {
    position: absolute;
    bottom: 35px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 15%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

}

/* .rec-pagination:hover{

} */

.recipe-carousel-images{
    width: 100%;
    display: block;
    background-color: black;
    object-fit: cover;

    /* position: absolute; */
    height: 100%;

}

.rec-carousel-wrapper{
    padding: 0px;
    margin: 0px;
    position:relative;
    /* background-color: black; */

}

.rec-carousel{
    min-height: 100%;
    position: relative;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: black;   */
}
/* this is the edit button come back and sort out positioning*/

.recipe-carousel-add{
    padding: 8px 12px 8px 12px;
    background-color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 2px;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 10px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
    min-width: 10px;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: 1px solid rgb(212, 212, 212);
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.recipe-carousel-add:hover {
    cursor: pointer;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(243, 243, 243);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.recipe-photos-container{
    background-color: black;

}

.rec .rec-dot{
    height: 2px;
    border-radius: 0px;
    background-color: white;
    border: none;
    border-style: none;
    box-shadow: none;
    box-shadow: 0px, 0px, 0px, black;
}

.recipe-carousel-with-edit {
    bottom: 0;
    padding: 0px;
    margin: 0px;
    /* border: 1px solid purple; */
    height: 100%;

    background-color: black;

}

    /* opacity: 0;
    transition: opacity .2s, visibility .2s;
    height: 100%; */

.rec-slider-container {
    margin: 0;
}


.dTGAUq {
    margin: 0;
}

.rec-item-wrapper {
    width: 100%;
    height: 100%;
}

#root > div.ver-page-container > div > div.recipe-photos-container > div > div > div.sc-eCApnc.jCKguF.rec.rec-carousel > div {
    margin: 0;
}

#\32  > div {
    width: 100%;
    height: 100%;
}

.add-photo-carousel-text {
    margin-left: 5px;
}


.sc-iCoGMd{
    margin-bottom: 0px;
    max-height: 50px;
}

.recipe-carousel{
    /* min-height: vh; */
    /* max-height: 80vh; */
}
.recipe-carousel-images{
    min-height: 800px;
    max-height: 800px;
}
